@import '../../styles/variables';

.formLogin {
	display: flex;
	flex-direction: column;
	position: relative;
	& > div + div {
		padding-top: 24px;
	}

	div {
		margin: unset;
	}

	.button {
		margin-top: 30px;
		display: flex;
		align-items: center;
		transition: all 0.5s;
		align-self: center;

		span {
			margin-left: 5px;
			color: $text-main;
		}

		padding: 0 40px;
		margin-bottom: 20px;
		font-size: 16px;
		background-color: $active;
		&:active {
			color: $active;
			border-color: $active;
		}
		&:hover {
			color: $text-name;
			border-color: $text-name;
		}
	}

	.blockInput {
		position: relative;
	}

	.input {
		min-width: 274px;
		border-color: $hover;
		transition: all 0.5s;
		&:hover {
			border-color: $hover;
		}
		&:focus {
			border-color: $hover;
		}
		&:active {
			border-color: $hover;
		}
		input {
			&::placeholder {
				transition: all 0.5s;
			}
			&:hover {
				&::placeholder {
					color: darken($color: $text-add, $amount: 1%);
				}
			}
		}
	}

	.error {
		border-color: $red;
	}
}

.feedback {
	position: absolute;
	right: 50%;
	bottom: -15px;
	transform: translate(50%, 0);
	font-size: 11px;
	opacity: 0;
	transition: all 0.3s;
}

.visible {
	opacity: 1;
	bottom: -20px;
}
