@import '../../styles/variables';

.formLogin {
	display: flex;
	flex-direction: column;
	position: relative;
	& > div + div {
		padding-top: 24px;
	}

	div {
		margin: unset;
	}

	.button {
		margin-top: 30px;
		display: flex;
		align-items: center;
		transition: all 0.5s;
		align-self: center;

		span {
			margin-left: 5px;
			color: $text-main;
		}

		padding: 0 40px;
		margin-bottom: 20px;
		font-size: 16px;
		background-color: $active;
		&:active {
			border-color: $active;
		}
		&:hover {
			border-color: $text-name;
		}
	}

	.input {
		min-width: 274px;
		transition: all 0.5s;
		&:hover {
			border-color: $hover;
		}
		&:focus {
			border-color: $hover;
		}
		input {
			&::placeholder {
				transition: all 0.5s;
			}
			&:hover {
				&::placeholder {
					color: darken($color: $text-add, $amount: 1%);
				}
			}
		}
		svg {
		}
	}
}
