@import '../../styles/variables';

.wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	height: 100vh;

	.button {
		margin-top: 30px;
		display: flex;
		align-items: center;
		transition: all 0.5s;

		span {
			margin-left: 5px;
			color: $text-main;
		}

		padding: 0 40px;
		margin-bottom: 20px;
		font-size: 16px;
		background-color: $active;
		&:active {
			color: $active;
			border-color: $active;
		}
		&:hover {
			color: $text-name;
			border-color: $text-name;
		}
	}
}

.welcome {
	font-size: 20px;
	margin-bottom: 10px;
	color: $text-main;
}

.text {
	color: $text-add;
	margin-bottom: 30px;
}

.inputs {
	display: flex;
	flex-direction: column;
	position: relative;
	& > input + input {
		margin-top: 24px;
	}
}

.question {
	position: absolute;
	font-size: 11px;
	color: $text-add;
	white-space: nowrap;
	top: -16px;
	left: 16px;
	transition: color 0.5s;
	cursor: pointer;
	&:hover {
		color: $text-main;
	}
	&:active {
		color: $text-add;
		transition: color 0.1s;
	}
}

.input {
	transition: all 0.5s;
	min-width: 274px;
	&:hover {
		border-color: $hover;
	}
}

.registr {
	font-size: 14px;
	cursor: pointer;
	color: $text-add;
	transition: color 0.5s;
	&:hover {
		color: $text-main;
	}
	&:active {
		color: $text-add;
		transition: color 0.1s;
	}
}
