@import '../../styles/variables';

.wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	height: 100vh;
}

.welcome {
	font-size: 20px;
	margin-bottom: 10px;
	color: $text-main;
}

.text {
	color: $text-add;
	margin-bottom: 30px;
}

.registr {
	font-size: 14px;
	cursor: pointer;
	color: $text-add;
	transition: color 0.5s;
	&:hover {
		color: $text-main;
	}
	&:active {
		color: $text-add;
		transition: color 0.1s;
	}
}
