@import '../../styles/variables';

.wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	height: 100vh;
}

.welcome {
	font-size: 20px;
	margin-bottom: 10px;
	color: var(--text-main);
}

.text {
	color: var(--text-add);
	position: relative;
	margin-bottom: 30px;
}

.registr {
	font-size: 14px;
	cursor: pointer;
	color: var(--text-add);
	transition: color 0.5s;
	&:hover {
		color: var(--text-main);
	}
	&:active {
		color: var(--text-add);
		transition: color 0.1s;
	}
}

.question {
	font-size: 11px;
	color: var(--text-add);
	white-space: nowrap;
	left: -41px;
	position: absolute;
	top: 34px;
	transition: color 0.5s;
	cursor: pointer;
	&:hover {
		color: var(--text-main);
	}
	&:active {
		color: var(--text-add);
		transition: color 0.1s;
	}
}
