@import '../../styles/variables';

.FormRegistr {
	display: flex;
	flex-direction: column;
	position: relative;
	& > div + div {
		padding-top: 15px;
	}

	div {
		margin: unset;
	}

	.button {
		margin-top: 30px;
		display: flex;
		align-items: center;
		transition: all 0.5s;
		align-self: center;

		span {
			margin-left: 5px;
			color: $text-main;
		}

		padding: 0 40px;
		margin-bottom: 20px;
		font-size: 16px;
		background-color: $active;
		&:active {
			color: $active;
			border-color: $active;
		}
		&:hover {
			color: $text-name;
			border-color: $text-name;
		}
	}

	.input {
		transition: all 0.5s;
		min-width: 274px;
		&:hover {
			border-color: $hover;
		}
		&:focus {
			border-color: $hover;
		}
	}
}
