@import '../../styles/variables';

.dialog {
	box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.15);
	background-color: $message;
	transition: all 0.3s;
	border-radius: 10px;
	&:hover {
		background-color: $hover;
	}
}

.button {
	padding: 15px 20px 15px 20px;
	display: flex;
	cursor: pointer;
	width: 100%;
}

.avatarWrapper {
	width: 39px;
	height: 39px;
	position: relative;
	border-radius: 50%;
	margin-right: 13px;
	background-color: white;
}

.avatar {
	width: 39px;
	height: 39px;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 50%;
	background-color: $white;
}

.firstLetter {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.author {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	margin-right: 10px;
}

.lastMes {
	color: $text-add;
	white-space: nowrap;
}

.date {
	margin-left: auto;
	color: $text-add;
}

.chosen {
	background-color: $active;
	&:hover {
		background-color: $active;
	}

	.lastMes {
		color: $text-name;
	}

	.date {
		color: $text-name;
	}
}
