@import '../../styles/variables';

.Interactions {
	display: grid;
	grid-template-columns: auto 1fr auto auto;
	align-items: center;
	padding: 20px 23px;
	background-color: $add;
	transition: all 0.5s;
	&:hover {
		box-shadow: inset 0 3px 10px rgba(0, 0, 0, 10%);
	}
}

.paperClip {
	width: 29px;
	height: 29px;
	margin-right: 22px;
	cursor: pointer;
}

.input {
	margin-right: 22px;
	color: $text-main;
	font-size: 20px;
	background-color: $add;
	border: unset;
	&::placeholder {
		transition: all 0.3s;
		color: $text-add;
	}
	&:focus {
		&::placeholder {
			color: darken($color: $text-add, $amount: 25%);
		}
	}
}

.smile {
	margin-right: 22px;
	cursor: pointer;
}

.micro {
	cursor: pointer;
}
