@import '../../styles/variables';

.Interactions {
	display: grid;
	grid-template-columns: auto 1fr auto auto;
	align-items: center;
	padding: 20px 23px;
	background-color: $add;
}

.paperClip {
	width: 29px;
	height: 29px;
	margin-right: 22px;
	cursor: pointer;
}

.input {
	margin-right: 22px;
	color: $text-main;
	font-size: 20px;
	background-color: $add;
	border: unset;
	&::placeholder {
		color: $text-add;
	}
}

.smile {
	margin-right: 22px;
	cursor: pointer;
}

.micro {
	cursor: pointer;
}
