@import '../../styles/variables';

*.itemClicked {
	position: absolute;
	max-height: unset;
	max-width: unset;
	min-width: unset;
	min-height: unset;
	opacity: 0;
	top: 50%;
	transform: translate(-50%, -50%);
}
