@import '../../styles/variables';

.Message {
	position: relative;
	padding: 10px 8px 5px;
	border-radius: 10px;
	max-width: calc(100vw - 520px);
}

.his {
	background-color: $message;
	border-bottom-left-radius: 0;
	box-shadow: 5px 3px 5px rgba(84, 81, 81, 15%);
}

.your {
	background-color: $active;
	border-bottom-right-radius: 0;
	box-shadow: -4px 3px 5px rgba(84, 81, 81, 15%);
}

.content {
	color: $text-main;
	word-wrap: break-word;
}

.dateAndReaded {
	display: flex;
	float: right;
	align-items: center;
}

.date {
	margin-left: 10px;
	color: $text-add;
	font-size: 11px;
	float: right;
}

.yourDate {
	margin-right: 8px;
}

.icon {
	width: 15px;
	height: 8px;
}

.angle {
	position: absolute;
	top: 17.8px;
	z-index: -1;
}

.angleYour {
	right: -12px;
}

.angleHis {
	left: -12px;
}
