@import '../../../../styles/variables';

.formLogin {
	display: flex;
	flex-direction: column;
	position: relative;
	& > div + div {
		padding-top: 24px;
	}

	div {
		margin: unset;
	}

	.button {
		margin-top: 30px;
		display: flex;
		align-items: center;
		transition: all 0.5s;
		align-self: center;
		color: var(--text-add);
		border-color: unset;

		span {
			color: var(--text-add);
			margin-left: 5px;
			transition: color 0.5s;
		}

		padding: 0 40px;
		margin-bottom: 20px;
		font-size: 16px;
		background-color: var(--active);
		&:active {
			color: var(--active);
			border-color: var(--active);
		}
		&:hover {
			span {
				color: var(--text-main);
			}
			color: var(--text-main);
			border-color: var(--text-main);
		}
	}
}
