@import '../../../../styles/variables';

#password_help,
#mail_help {
	position: absolute;
}

.ant-input-prefix {
	svg {
		color: gray;
	}
}

:where(.css-dev-only-do-not-override-1i9hnpv).ant-btn-default {
	border-color: unset;
}